#boundaries{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

div{
	font-size:0;
}

.box{
	border:1px solid black;
	display:inline-block;
}

.row1>.box{height:200px;width:50%;}

.row2>.box{height:300px;width:33.3%;}

.green{
	background-color:green;
}
.blue{
	background-color: blue;
}
.gray{
	background-color:gray;
}
.black{
	background-color:black;
}

.orange{
	background-color:orange;
}